<ion-view title="Cart" id="page3" style="background-color:#FCFFFC;">
  <ion-content padding="true" class="has-header">
    <ion-list id="cart-list9">
      <ion-item class="item-thumbnail-left" id="cart-list-item56">
        <img src="img/mlg00sKvSrOBZUafrhiZ_b56fc88a.jpg">
        <h2>Salad4 - 100 ฿</h2>
      </ion-item>
      <ion-item class="item-divider" id="cart-list-item-divider4"> DeliveryFee 35฿ + ServiceCharge 10฿</ion-item>
      <ion-item class="balanced" id="cart-list-item57">Total Amount = 145 ฿</ion-item>
    </ion-list>
  </ion-content>
</ion-view>