<ion-view title="Completed Orders" id="page4">
  <ion-content padding="true" class="has-header">
    <ion-list id="completedOrders-list7">
      <ion-item class="item-thumbnail-left" id="completedOrders-list-item52">
        <img src="img/v2Kjx9rSxyf9VyTIZImQ_American-Pepper-Steak-LR.jpg">
        <h2>steak1 - 100 ฿</h2>
      </ion-item>
      <ion-item class="item-divider" id="completedOrders-list-item-divider2"> Oct 10, 2018: Total 332 ฿</ion-item>
      <ion-item class="item-thumbnail-left" id="completedOrders-list-item53">
        <img src="img/x8mNGTsxSqChU0ElM0RA_Healthy-BBQ-Chicken-Salad.jpg">
        <h2>salad2 - 120 ฿</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="completedOrders-list-item54">
        <img src="img/CBXLkPnR0CgkpM7HdbWg_Picture1524_normal.jpg">
        <h2>noodle3 - 150 ฿</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>