<ion-view title="Hiw" id="page8" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <form id="hiw-form3" class="list">
      <label class="item item-input" id="hiw-search1" name="keyword">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="What would you like today?">
      </label>
    </form>
    <div id="hiw-button-bar1" class="button-bar"></div>
    <div class="list card" id="hiw-card22">
      <ion-item class="item-icon-left balanced" id="hiw-list-item7" ui-sref="restaurant1()">
        <i class="icon ion-ios-star"></i>Recommended</ion-item>
      <div>
        <p>
        </p>
        <table border="1">
          <tbody>
            <tr>
              <td>
                <img src="img/ifFbdqfDRSaM2m5aJBCw_images.jpg" height="auto" width="90%">
              </td>
              <td>
                <img src="img/lgT8cztPQKiigLHuT9i7_2016-08-12-BLT-Salad-3.jpg" height="auto" width="90%">
              </td>
              <td>
                <img src="img/CBXLkPnR0CgkpM7HdbWg_Picture1524_normal.jpg" height="auto" width="90%">
              </td>
            </tr>
            <tr>
              <td>
                <img src="img/lgT8cztPQKiigLHuT9i7_2016-08-12-BLT-Salad-3.jpg" height="auto" width="90%">
              </td>
              <td>
                <img src="img/mlg00sKvSrOBZUafrhiZ_b56fc88a.jpg" height="auto" width="90%">
              </td>
              <td>
                <img src="img/ifFbdqfDRSaM2m5aJBCw_images.jpg" height="auto" width="90%">
              </td>
            </tr>
            <tr>
              <td>
                <img src="img/jmpDUmgnRm26SOyoOdEg_Picture12257_normal.jpg" height="auto" width="90%">
              </td>
              <td>
                <img src="img/lgT8cztPQKiigLHuT9i7_2016-08-12-BLT-Salad-3.jpg" height="auto" width="90%">
              </td>
              <td>
                <img src="img/mlg00sKvSrOBZUafrhiZ_b56fc88a.jpg" height="auto" width="90%">
              </td>
            </tr>
          </tbody>
        </table>
        <p></p>
      </div>
    </div>
    <div class="list card" id="hiw-card23">
      <div id="hiw-button-bar3" class="button-bar choice">
        <a ui-sref="restaurant1m()" id="hiw-button20" class="button button-balanced button-block">Noodle</a>
        <a ui-sref="restaurant1v()" id="hiw-button19" class="button button-balanced button-block">Rice</a>
        <a ui-sref="restaurant1s()" id="hiw-button21" class="button button-balanced button-block">Salad</a>
        <a ui-sref="restaurant1v()" id="hiw-button26" class="button button-balanced button-block choices">Sides</a>
      </div>
      <div id="hiw-button-bar4" class="button-bar">
        <a ui-sref="restaurant1v()" id="hiw-button22" class="button button-balanced button-block">Vegan</a>
        <a ui-sref="restaurant1s()" id="hiw-button23" class="button button-balanced button-block choices">Sweet</a>
        <a ui-sref="restaurant1v()" id="hiw-button24" class="button button-balanced button-block">Spicy</a>
        <a ui-sref="restaurant1s()" id="hiw-button27" class="button button-balanced button-block">Steak</a>
      </div>
    </div>
    <div class="list card" id="hiw-card25">
      <ion-item class="item-icon-left balanced" id="hiw-list-item24" ui-sref="restaurant1()">
        <i class="icon ion-android-favorite-outline"></i>Popular</ion-item>
      <div>
        <p>
        </p>
        <table border="1">
          <tbody>
            <tr>
              <td>
                <img src="img/ifFbdqfDRSaM2m5aJBCw_images.jpg" height="auto" width="90%">
              </td>
              <td>
                <img src="img/lgT8cztPQKiigLHuT9i7_2016-08-12-BLT-Salad-3.jpg" height="auto" width="90%">
              </td>
              <td>
                <img src="img/CBXLkPnR0CgkpM7HdbWg_Picture1524_normal.jpg" height="auto" width="90%">
              </td>
            </tr>
            <tr>
              <td>
                <img src="img/lgT8cztPQKiigLHuT9i7_2016-08-12-BLT-Salad-3.jpg" height="auto" width="90%">
              </td>
              <td>
                <img src="img/jmpDUmgnRm26SOyoOdEg_Picture12257_normal.jpg" height="auto" width="90%">
              </td>
              <td>
                <img src="img/mlg00sKvSrOBZUafrhiZ_b56fc88a.jpg" height="auto" width="90%">
              </td>
            </tr>
            <tr>
              <td>
                <img src="img/lgT8cztPQKiigLHuT9i7_2016-08-12-BLT-Salad-3.jpg" height="auto" width="90%">
              </td>
              <td>
                <img src="img/mlg00sKvSrOBZUafrhiZ_b56fc88a.jpg" height="auto" width="90%">
              </td>
              <td>
                <img src="img/ifFbdqfDRSaM2m5aJBCw_images.jpg" height="auto" width="90%">
              </td>
            </tr>

          </tbody>
        </table>
        <p></p>
      </div>
    </div>
    <div class="list card" id="hiw-card27">
      <ion-item class="item-icon-left balanced" id="hiw-list-item28">
        <i class="icon ion-android-chat"></i>Last Reviews</ion-item>
      <ion-item class="item-thumbnail-left" id="hiw-list-item30" ui-sref="page9()">
        <img src="img/eoyAC74fT7avRqDO8Keq_indrani-indian-sweet-dish-top-view-india-38524625.jpg">
        <h2>Sweet1</h2>
        <p>last review 2 - 80 ฿</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="hiw-list-item31">
        <img src="img/jmpDUmgnRm26SOyoOdEg_Picture12257_normal.jpg">
        <h2>Side2</h2>
        <p>last review 3 - 110 ฿</p>
      </ion-item>
      <div class="item item-body" id="hiw-list-item-container11"></div>
    </div>
  </ion-content>
</ion-view>