<ion-view title="Restaurant1" id="page10" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <form id="restaurant1-form10" class="list">
      <label class="item item-input" id="restaurant1-search2" name="keyword">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="What would you like today?">
      </label>
    </form>
    <div id="restaurant1-button-bar7" class="button-bar"></div>
    <div class="list card" id="restaurant1-card28">
      <ion-item class="item-icon-left balanced" id="restaurant1-list-item32">
        <i class="icon ion-ios-star"></i>Highlight Menu</ion-item>
      <div class=" item item-image">
        <a style="display:block;" ui-sref="page9()">
          <img src="img/mTubfwuVQLCqhK1VDags_healthy-food-hospital.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </a>
      </div>
    </div>
    <div class="list card" id="restaurant1-card210">
      <ion-item class="item-icon-left balanced" id="restaurant1-list-item33">
        <i class="icon ion-android-favorite-outline"></i>All Menu</ion-item>
      <div class=" item item-image">
        <img src="img/RMKweIHKRpqbneOl8gXk_694376-Fall-Bounty.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
    </div>
    <div class="list card" id="restaurant1-card211">
      <ion-item class="item-icon-left balanced" id="restaurant1-list-item34">
        <i class="icon ion-android-chat"></i>Last Reviews</ion-item>
      <ion-item class="item-thumbnail-left" id="restaurant1-list-item35" ui-sref="page9()">
        <img src="img/wbD25EugQoS8NJGKtwxC_.jpg">
        <h2>Dish2</h2>
        <p>last review 2</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="restaurant1-list-item36" ui-sref="page9()">
        <img src="img/wbD25EugQoS8NJGKtwxC_.jpg">
        <h2>Dish3</h2>
        <p>last review 3</p>
      </ion-item>
      <div class="item item-body" id="restaurant1-list-item-container12"></div>
    </div>
  </ion-content>
</ion-view>