<ion-view title="Restaurant1m" id="page11">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b>Noodles</b>
      </p>
      <table border="1">
        <tbody>
          <tr>
            <td>
              <img src="img/zh3DYUT9Swjn4j0wCGN0_Picture12172_normal.jpg" height="auto" width="90%">
            </td>
            <td>
              <img src="img/zh3DYUT9Swjn4j0wCGN0_Picture12172_normal.jpg" height="auto" width="90%">
            </td>
            <td>
              <img src="img/zh3DYUT9Swjn4j0wCGN0_Picture12172_normal.jpg" height="auto" width="90%">
            </td>
          </tr>
          <tr>
            <td>
              <img src="img/zh3DYUT9Swjn4j0wCGN0_Picture12172_normal.jpg" height="auto" width="90%">
            </td>
            <td>
              <img src="img/zh3DYUT9Swjn4j0wCGN0_Picture12172_normal.jpg" height="auto" width="90%">
            </td>
            <td>
              <img src="img/zh3DYUT9Swjn4j0wCGN0_Picture12172_normal.jpg" height="auto" width="90%">
            </td>
          </tr>
          <tr>
            <td>
              <img src="img/zh3DYUT9Swjn4j0wCGN0_Picture12172_normal.jpg" height="auto" width="90%">
            </td>
            <td>
              <img src="img/zh3DYUT9Swjn4j0wCGN0_Picture12172_normal.jpg" height="auto" width="90%">
            </td>
            <td>
              <img src="img/zh3DYUT9Swjn4j0wCGN0_Picture12172_normal.jpg" height="auto" width="90%">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ion-content>
</ion-view>