<ion-view title="Restaurant1s" id="page12">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b>Salads</b>
      </p>
      <table border="1">
        <tbody>
          <tr>
            <td>
              <img src="img/6uj28QQBR6Sv52BEZRnb_b56fc88a.jpg" height="auto" width="90%">
            </td>
            <td>
              <img src="img/6uj28QQBR6Sv52BEZRnb_b56fc88a.jpg" height="auto" width="90%">
            </td>
            <td>
              <img src="img/6uj28QQBR6Sv52BEZRnb_b56fc88a.jpg" height="auto" width="90%">
            </td>
          </tr>
          <tr>
            <td>
              <img src="img/6uj28QQBR6Sv52BEZRnb_b56fc88a.jpg" height="auto" width="90%">
            </td>
            <td>
              <img src="img/6uj28QQBR6Sv52BEZRnb_b56fc88a.jpg" height="auto" width="90%">
            </td>
            <td>
              <img src="img/6uj28QQBR6Sv52BEZRnb_b56fc88a.jpg" height="auto" width="90%">
            </td>
          </tr>
          <tr>
            <td>
              <img src="img/6uj28QQBR6Sv52BEZRnb_b56fc88a.jpg" height="auto" width="90%">
            </td>
            <td>
              <img src="img/6uj28QQBR6Sv52BEZRnb_b56fc88a.jpg" height="auto" width="90%">
            </td>
            <td>
              <img src="img/6uj28QQBR6Sv52BEZRnb_b56fc88a.jpg" height="auto" width="90%">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ion-content>
</ion-view>