<ion-view title="Restaurant1v" id="page13">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b>Vegan</b>
      </p>
      <table border="1">
        <tbody>
          <tr>
            <td>
              <img src="img/TCEUZlmXQbWtdtCyjKew_cl_digi_58.jpg" height="auto" width="90%">
            </td>
            <td>
              <img src="img/TCEUZlmXQbWtdtCyjKew_cl_digi_58.jpg" height="auto" width="90%">
            </td>
            <td>
              <img src="img/TCEUZlmXQbWtdtCyjKew_cl_digi_58.jpg" height="auto" width="90%">
            </td>
          </tr>
          <tr>
            <td>
              <img src="img/TCEUZlmXQbWtdtCyjKew_cl_digi_58.jpg" height="auto" width="90%">
            </td>
            <td>
              <img src="img/TCEUZlmXQbWtdtCyjKew_cl_digi_58.jpg" height="auto" width="90%">
            </td>
            <td>
              <img src="img/TCEUZlmXQbWtdtCyjKew_cl_digi_58.jpg" height="auto" width="90%">
            </td>
          </tr>
          <tr>
            <td>
              <img src="img/TCEUZlmXQbWtdtCyjKew_cl_digi_58.jpg" height="auto" width="90%">
            </td>
            <td>
              <img src="img/TCEUZlmXQbWtdtCyjKew_cl_digi_58.jpg" height="auto" width="90%">
            </td>
            <td>
              <img src="img/TCEUZlmXQbWtdtCyjKew_cl_digi_58.jpg" height="auto" width="90%">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ion-content>
</ion-view>