<ion-view title="Signup" hide-nav-bar="true" id="page6" class="welcome">
  <ion-content padding="true" style="background: url(img/72YzXCoTzylw2R31GTOQ_seo-organic-body.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="spacer" style="width: 300px; height: 40px;"></div>
    <form id="signup-form2" class="list screen">
      <ion-list id="signup-list2" class="member">
        <label class="item item-input" id="signup-input8">
          <span class="input-label">Name</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="signup-input7">
          <span class="input-label">Phone</span>
          <input type="tel" placeholder="">
        </label>
        <label class="item item-input" id="signup-input4">
          <span class="input-label">Email</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="signup-input5">
          <span class="input-label">Password</span>
          <input type="text" placeholder="">
        </label>
      </ion-list>
      <a ui-sref="login()" id="signup-button4" style="color:#FFFFFF;" class="button button-balanced button-block">Sign up</a>
    </form>
  </ion-content>
</ion-view>